.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    width: calc(25% - 16px); 
    box-shadow: 2px 2px 12px #aaa;
    text-align: center;
}
.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; 
}
div{
    margin-left: 9rem;
}
@media (max-width: 1200px) {
    .card {
        flex: 1 1 calc(33.333% - 32px); /* 3 cards per row */
    }
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 32px); /* 2 cards per row */
    }

    div {
        margin-left: 2rem;
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 calc(100% - 32px); /* 1 card per row */
    }

    div {
        margin-left: 1rem;
    }
}
